:root{
    --primary-color :#064635 ;
    --second-color : #519259;
    --third-color : #F0BB62;
    --fourth-color : #F4EEA9;
    --grey-color : #656565;

    --trans-06 : all ease .6s;
    --trans-05 : all ease .5s;
    --trans-04 : all ease .4s;
    --trans-03 : all ease .3s;
    --trans-02 : all ease .2s;
    --trans-01 : all ease .1s;
}

*{
    margin:0;
    padding :0;
    list-style : none;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #fdfdfd;
}
.navbar-desk{
    width: 100%;
    height: 100px;
}

.nav-link{
    color: var(--grey-color);
    font-weight: 400;
    margin-right: 32px;
}
.nav-link.active{
    color: var(--primary-color) !important;
    font-weight: 600;
}
.nav-link:hover{
    color: var(--second-color);
}
.search-box{
    background-color: rgba(6, 70, 53, 0.1);
    width: 210px;
    height: 42px;
    border-radius: 12px;
    margin-right: 10px;
}
.search-ico{
    width: 20%;
    height: 100%;
}
.search-box i{
    font-size: 20px;
    color: var(--primary-color);
}
.search-box input{
    width: 80%;
    height: 100%;
    font-size: 14px;
    background: transparent;
    border: none;
    outline: none;
}
.login-bx{
    width: 100px;
    height: 42px;
    border-radius: 12px;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 600;
}
.login-bx:hover{
    background-color: rgba(6, 70, 53, 0.1);
    color: var(--primary-color);
}